.reach-title {
    font-size: xx-large;
    font-weight: 700;
}

.reach-title:after {
    content: '';
    width: 0px;
    height: 10px;
    display: block;
    background: rgb(204, 0, 156);
    ;
    transition: 600ms;
}

.reach-title:hover:after {
    text-align: center;
    width: 90%;
    /* margin: 0 60px; */
}



.logo_box {
    margin-top: 20px;
    border-radius: 20px;
    /* padding: 15px; */
    /* background: linear-gradient(170deg, rgba(58, 56, 56, 0.623) 0%, rgb(31, 31, 31) 100%); */
    position: relative;
    cursor: pointer;
    transition: all .3s;
}

.logo_box:hover {
    transform: scale(0.9);
}

.logo_box span {
    position: absolute;
    overflow: hidden;
    width: 150px;
    height: 150px;
    top: -10px;
    left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_box span::before {
    content: 'Premium';
    position: absolute;
    width: 150%;
    height: 40px;
    background-image: linear-gradient(45deg, #ff6547 0%, #ffb144 51%, #ff7053 100%);
    transform: rotate(-45deg) translateY(-20px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.23);
}

.logo_box span::after {
    content: '';
    position: absolute;
    width: 10px;
    bottom: 0;
    left: 0;
    height: 10px;
    z-index: -1;
    box-shadow: 140px -140px #ab3fcc;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
}